*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.live{
    background-image: url('./bg.jpg');
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.container1{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center; /* centralizar o texto */
    background-color: #000000AA;
}

.title1{
    font-size: calc(10px + 3vw);
}

.title1 p{
    font-size: calc(10px + 1vw);
}

.countdown1{
    display: flex;
    width:60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countdown1 h1{
    font-size: calc(10px + 5vw);
    text-shadow: 0 0 10px whitesmoke;
}

.button1{
    background-color: whitesmoke;
    color: black;
    padding: 10px;
    cursor: pointer;
    border: solid 2px whitesmoke;
}

.button1:hover{
    background-color: black;
    color: whitesmoke;
}